<h1>Welcome</h1>

<form method='get'>
  <label for='title'>Search book by title</label><br>
  <input type='text' id='title'>
  <input type='submit' class='submit'><br>
</form>

<form method='get'>
  <label for='author'>Search book by author</label><br>
  <input type='name' id='author'>
  <input type='submit' class='submit'><br>
</form>

<form method='get'>
  <label for='library'>Search book by library</label><br>
  <input type='text' id='library'>
  <input type='submit' class='submit'><br>
</form>

<form method='get'>
  <label for='score'>Search book by rating score</label><br>
  <input type='text' id='score'>
  <input type='submit' class='submit'><br>
</form>