<h1>Welcome</h1>
<h3>How do you want to find your next book?</h3>

<form method='get'>
  <label for='title'>Search book by title</label><br>
  <input type='text' id='title'>
  <input type='submit' class='submit'><br>
</form>

<form method='get'>
  <label for='author'>Search book by author</label><br>
  <input type='name' id='author'>
  <input type='submit' class='submit'><br>
</form>

<form method='get'>
  <label for='isbn'>Search book by ISBN</label><br>
  <input type='text' id='isbn'>
  <input type='submit' class='submit'><br>
</form>

<form method='get'>
  <label for='publishing_year'>Search book by publishing year</label><br>
  <input type='text' id='publishing_year'>
  <input type='submit' class='submit'><br>
</form>

<form method='get'>
  <label for='library'>Search book by library</label><br>
  <input type='text' id='library'>
  <input type='submit' class='submit'><br>
</form>

<form method='get'>
  <label for='score'>Search book by rating score</label><br>
  <input type='text' id='score'>
  <input type='submit' class='submit'><br>
</form>