<button type='button' id='start-button'>START</button><br>
<button type='button' id='availability-button'>Show available books</button>
<button type='button' id='book-button'>Show all books</button>
<button type='button' id='rating-button'>Show all book ratings</button>
<button type='button' id='library-button'>Show all libraries</button>
<button type='button' id='member-button'>Show all members</button>