<a href='/'>
  <button type='submit' id='start-button'>START</button><br>
</a>
<a href='/books/available'>
  <button type='submit' id='available-button'>Show available books</button>
</a>
<a href='/books/all'>
  <button type='submit' id='book-button'>Show all books</button>
</a>
<a href='/ratings/all'>
  <button type='submit' id='rating-button'>Show all book ratings</button>
</a>
<a href='/libraries/all'>
  <button type='submit' id='library-button'>Show all libraries</button>
</a>
<a href='/members/all'>
  <button type='submit' id='member-button'>Show all members</button>
</a>