body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

header h1 {
  font-size: 60px;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 40px;
}

h3 {
  font-size: 15px;
}

#start-button {
  margin-bottom: 15px;
}

.first_result {
  font-weight: bold;
}

.footer {
  position: fixed;
  margin-top: 15px;
  bottom: 0;
  width: 100%;
}

form {
  margin-bottom: 15px;
}

a {
  text-decoration: none;
}

ul li {
  margin-bottom: 20px;
  max-width: 50%;
}
