<!DOCTYPE html>

<html lang='eng'>

<head>
  <meta charset='UTF-8'>
  <title>Library App</title>
  <link rel='stylesheet' href='/css/style.css'>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Pacifico&display=swap" rel="stylesheet">
</head>

<body>
  {{>header}}

  <main class='container'>
    {{>flash}}<br>
    {{{body}}}
  </main>

  {{>footer}}
</body>

</html>