<div class='libraries'>
  <h1>Libraries</h1>

  {{#if data.length}}
  <ul>
    {{#each data}}
    <li>
      <div class='first_result'>
        {{this.name}}
      </div>
      {{this.city}}
    </li>
    {{/each}}
  </ul>
  {{/if}}
</div>