<!DOCTYPE html>

<html lang='en'>

<head>
  <meta charset='UTF-8'>
  <title>Little Library</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link rel='stylesheet' type='text/css' href='style.css'>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Pacifico&display=swap" rel="stylesheet">
</head>

<body>
  {{>header}}
  {{>search-buttons}}

  <main class='container'>
    {{{body}}}
  </main>

  {{>footer}}
</body>

</html>