<div class='members'>
  <h1>Members</h1>
  <ul>
    {{#if data.length}}
    {{#each data}}
    <li>
      <div class='first_result'>
        ID {{this.id}}, {{this.name}}
      </div>
      {{this.city}}<br>
      Member since {{this.startdate}}
    </li>
    {{/each}}
    {{/if}}
  </ul>
</div>